body {
      background: linear-gradient(to right, #004a94, #136eb4) !important;
}

.border-dashed {
      border: 2px dashed #6c757d;
}

input[type="file"] {
      display: none;
}

#customerUploadForm {
      background-color: rgb(249, 249, 249);
      border-radius: 0px !important;
}

input, select, button {
      border-radius: 0px !important;
      box-shadow: none !important;
}

#attachBtn {
      border-radius: 0px !important;
      box-shadow: none !important;
}

#ImportantNotice {
    font-size: 10px;
}

@media (min-width: 768px) {
    #ImportantNotice {
        font-size: 14px;
    }
}
